{% extends "::base.html.twig" %}
{% block title %}
    {% trans from "address" %}title_addresses{% endtrans %} - {% trans from "address" %}so_name{% endtrans %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
	$(function() {
        $( ".accordion" ).accordion({ active: false, collapsible: true });
    });
    </script>

{% endblock %}

{% block sf_content %}
    
    
<div class="row zk-form">
    
    <div class="spanMain">
        {{ form_errors(form) }}
        {{ form_start(form) }}
	
	<div class="row">
	    <div class="span5">{{ form_row(form.name) }}</div>
	    <div class="span3">{{ form_row(form.eprasysName) }}</div>
	</div>
	{% if service_org.id %}
	<div class="accordion span11">
	    <h7>{% trans with {} from 'address' %}departments{% endtrans %}</h7>
	    <div>
		<div class="table-vd">
		    
		    <table class="table table-striped table-condensed">
			{% if service_org.serviceOrgDeps.count %}
			    <tr>
				<th>Назва</th>
				<th>Інфо</th>
				<th></th>
			    </tr>
			    {% for i,serviceOrgDep in service_org.serviceOrgDeps %}
			    <tr>
				<td>{{ serviceOrgDep.name }}</td>
				<td>{{ serviceOrgDep.info}}</td>
				{% if is_granted('ROLE_ADMIN') %}
				<td>
				    <a href="{{ path('crm_addresses_service_org_dep_edit',{'id':serviceOrgDep.id}) }}">
					Edit
				    </a>
				    <br>
				    <a href="{{ path('crm_addresses_service_org_dep_delete',{'id':serviceOrgDep.id})}}"
				     onclick="return confirm('Ви дійсно бажаєте видалити відділення?')">
					Delete
				    </a>
				</td>
				{% endif %}
			    </tr>
			    {% endfor %}
			{% else %}
			<tr>
			    <th style="text-align:center">Відділення відсутні</th>
			</tr>
			{% endif %}
			<tr>
			   <a href="{{ path('crm_addresses_service_org_dep_new', {'org_id': service_org.id}) }}" class="btn btn-info">{% trans from "address" %}add{% endtrans %}</a>
			</tr>
		    </table>
		</div>
	    </div>
	</div>
        {% endif %}
        <hr>
		    <div class="row">
			<div class="span5">
				<a href="{{ path('crm_addresses_service_org_list') }}" class="btn btn-primary">{% trans from "address" %}back{% endtrans %}</a>
			    </div>
                            <div class="span5">
				<button class="btn btn-success" type="submit">{% trans from "address" %}save{% endtrans %}</button>
			    </div>
			    {% if id is defined %}
			    <div class="span1">
				<a href="{{ path('crm_addresses_service_org_delete', {'id': service_org.id}) }}" class="btn btn-danger">{% trans from "address" %}dell{% endtrans %}</a>
			    </div>
			    {% endif %}
			    
		    </div>
		   
		   
		<hr>
		
        <div style="display:none;">{{ form_rest(form) }}</div>
	
	{{ form_end(form) }}
    
    </div>
    
{% endblock sf_content %}
