{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    
    <form class="span8 offset2 well well-large"
          action="{{ path("fos_user_change_password") }}"
          {{ form_enctype(form) }} method="post" >

            <legend>{{ 'change_password.submit'|trans }}</legend>
            <hr>
	    
            <div class="row">
	        <div class="span3 offset1">
	            {{ form_label(form.current_password) }}
	        </div>
	        <div class="span4">
	            {{ form_errors(form.current_password) }}{{ form_widget(form.current_password) }}
	        </div>
            </div>
	    
            <div class="row">
	        <div class="span3 offset1">
	            {{ form_label(form.plainPassword.first) }}
	        </div>
	        <div class="span4">
	            {{ form_errors(form.plainPassword.first) }}{{ form_widget(form.plainPassword.first) }}
	        </div>
            </div>
	    
            <div class="row">
	        <div class="span3 offset1">
	            {{ form_label(form.plainPassword.second) }}
	        </div>
	        <div class="span4">
	            {{ form_errors(form.plainPassword.second) }}{{ form_widget(form.plainPassword.second) }}
	        </div>
            </div>

            <div class="row">
	        <div class="span3 offset1"></div>
	        <div class="span4">
                    <button type="submit" class="btn btn-primary">
		        {{ 'change_password.submit'|trans }}
	            </button>
	        </div>
            </div>
        
            {{ form_rest(form) }}
    
        </form>
